.jumbotron {
  background-color: #FFC0CB;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 6rem;
  display: grid;
}
.jumbotron h1 {
  font-family: 'Concert One', cursive;
  color: white;
}
.jumbotron p {
  color: white;
  font-family: 'Concert One', cursive;
  font-family: 'Inconsolata', monospace;
}
.countainer {
  margin: 1rem 1rem;
}
.countainer h2 {
  margin-top: 1rem;
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 1.7rem;
}
.countainer p1 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-family: 'Inconsolata', monospace;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
}
.card,.card2,.card3 {
  margin-top: 2rem;
  background-color: #e2edff;
}
.btn2 {
  margin-top: 1rem;
}
.card p {
  font-family: 'Roboto Slab', serif;
}
.penunjuklink p {
  text-align: center;
  padding-top: 2rem;
  font-family: 'Concert One', cursive;
  text-align: center;
  font-size: 2rem;
}
footer {
  padding:40px 0;
  background-color:#ffffff;
  color: red;
}
footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

footer li {
  padding:0 10px;
}
footer .social {
  text-align:center;
  padding-bottom:25px;
}

footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

footer .social > a:hover {
  opacity:0.9;
}

footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color: black;
  margin-bottom:0;
}