.jumbotron {
  background-color: #e2edff;
  padding-top: 6rem;
}
.countainer {
  margin: 5rem 1rem;
}
.card {
  margin-top: 2rem;
  background-color: #e2edff;
}
.btn {
  margin-left: 50%;
  margin-top: 2rem;
}
